<!DOCTYPE html>
<html>
<head>
	<title>Upload</title>
</head>
<body>
	<p class="glyphicon-upload"> Uploaded </p>
	<form action="/upload" method="post" accept-charset="utf-8">
		<input type="file" name="upload_file" value="" placeholder="choose files">
		<input type="submit" name="submit" value="upload">
	</form>
</body>
</html>